<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guigu.springcloud.dao.OrderInfoDao">
    <!-- 结果集映射 -->
    <insert id="create" parameterType="com.guigu.springcloud.entity.OrderInfoEntity" useGeneratedKeys="true"
            keyProperty="id">
        <!-- inser 语句 id已经设置了自动添加属性，不需要再传值 -->
        insert into order_info(order_code, create_time, update_time) values(#{orderCode}, #{createTime}, #{updateTime})
    </insert>
    <!-- 结果集映射 -->
    <resultMap id="baseResultMap" type="com.guigu.springcloud.entity.OrderInfoEntity">
        <id column="id" property="id" jdbcType="BIGINT"></id>
        <id column="order_code" property="orderCode" jdbcType="VARCHAR"></id>
        <id column="create_time" property="createTime" jdbcType="DATETIMEOFFSET"></id>
        <id column="update_time" property="updateTime" jdbcType="DATETIMEOFFSET"></id>
    </resultMap>
    <select id="getById" resultMap="baseResultMap">
        select * from order_info
        where id = #{id}
    </select>
</mapper>